.unfocusable{
    /* makes item unselectable (typically for text) */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.no_pointer_event{
    pointer-events: none;
}

#graph_entry{
    fill: #67a9cf
}

#graph_entry:hover {
    fill: #2166ac;
}

#graph_exit{
    fill: #ef8a62
}

#graph_exit:hover {
    fill: #b2182b;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

#line{
    stroke: #E6E6FA;
    stroke-width: 2;
    fill: none;
}

#graph_dot{
    fill: #006666
}

#mapid { height: 500px; }
