body{
    background-color: #ffffff;
}

.unfocusable{
    /* makes item unselectable (typically for text) */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.no_pointer_event{
    pointer-events: none;
}

#graph_entry{
    fill: #67a9cf
}

#graph_entry:hover {
    fill: #2166ac;
}

#graph_exit{
    fill: #ef8a62
}

#graph_exit:hover {
    fill: #b2182b;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

#line{
    stroke: #E6E6FA;
    stroke-width: 2;
    fill: none;
}

#graph_dot{
    fill: #006666
}

#mapid { height: 500px; }

#gallery {
}

.node {
    position: absolute;
    background-size: cover;
}

.button_history_event_dark {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #595959;
    font-family: Verdana;
    font-size: 18pt;
    font-weight: 600;
    padding: 8pt;
    background-color: #cccccc;
    border: solid #337FED 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button_history_event_dark:hover {
    background: #d9d9d9;
    text-decoration: none;
}

.button_history_event_light {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #595959;
    font-family: Verdana;
    font-size: 18pt;
    font-weight: 600;
    padding: 8pt;
    background-color: #e6e6e6;
    border: solid #337FED 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button_history_event_light:hover {
    background: #f2f2f2;
    text-decoration: none;
}
