body{
    background-color: #ffffff;
}

.unfocusable{
    /* makes item unselectable (typically for text) */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.no_pointer_event{
    pointer-events: none;
}

.year_label{
    font-family: 'Merriweather', serif;
    font-size: 12em;
    font-weight: 300;
}

#graph_entry{
    fill: #67a9cf
}

#graph_entry:hover {
    fill: #2166ac;
}

#graph_exit{
    fill: #ef8a62
}

#graph_exit:hover {
    fill: #b2182b;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h3 {
    margin: 0 0 5px;
    color: #777;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

#line{
    stroke: #E6E6FA;
    stroke-width: 2;
    fill: none;
}

#graph_dot{
    fill: #006666
}

#mapid { height: 500px; }

.node {
    position: absolute;
    background-size: cover;
}

.button_history_event_dark {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #595959;
    font-family: Verdana;
    font-size: 12pt;
    font-weight: 300;
    padding: 8pt;
    width: 100%;
    background-color: #cccccc;
    border: solid #337FED 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button_history_event_dark:hover {
    background: #d9d9d9;
    text-decoration: none;
}

.button_history_event_light {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #595959;
    font-family: Verdana;
    font-size: 12pt;
    font-weight: 300;
    padding: 8pt;
    width: 100%;
    background-color: #e6e6e6;
    border: solid #337FED 0px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button_history_event_light:hover {
    background: #f2f2f2;
    text-decoration: none;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}