.unfocusable{
    /* makes item unselectable (typically for text) */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.no_pointer_event{
    pointer-events: none;
}

#graph_entry{
    fill: #a8ddb5
}

#graph_exit{
    fill: #2b8cbe
}

#line{
    stroke: #33cccc;
    stroke-width: 2;
    fill: none;
}

#graph_dot{
    fill: #006666
}

#mapid { height: 500px; }
